body {
    background-color: rgb(103, 235, 173);
}

#cabecalho {
    background-image: linear-gradient(to bottom, rgb(85, 214, 154), rgb(0, 83, 0));
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho p {
    width: 400px;
    margin: auto;
    font-size: 18px;
    padding-bottom: 40px;
}

#cabecalho h1, #cabecalho p {
    text-align: center;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

nav a:hover {
    background-color: rgb(103, 235, 173);
    padding: 10px 2px 10px 2px;
    border-radius: 4px;
}

main {
    width: 850px;
    margin: auto;
    background-color: white;
}

.primeira, .segunda {
    padding: 10px;
}

.image {
    text-align: center;
}

main p {
    text-align: justify;
}

.video {
    background-color: rgb(0, 161, 86);
    padding: 20px;
    text-align: center;
}

#extra {
    background-color: rgb(129, 253, 195);
}

article div {
    padding: 0px 5px 5px 10px;
}

#extra header p {
    background-color: rgb(0, 161, 86);
    padding: 5px;
    color: white;
    font-weight: bold;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(0, 83, 0);
}